{
  "org": {
    "HZN_ORG_ID": "myorg",
    "HZN_DEVICE_TOKEN": "device-token",
    "HZN_DEVICE_ID": "my-edge-device",
    "HZN_EXCHANGE_USER_AUTH": "iamapikey:xxxxx",
    "HZN_EXCHANGE_URL": "http://hub.example.com:3090/v1",
    "HZN_FSS_CSSURL": "http://hub.example.com:9443/",
    "HZN_AGBOT_URL": "http://hub.example.com:3111",
    "HZN_SDO_SVC_URL": "http://hub.example.com:9008/api",
    "HZN_AGENT_PORT": "8510",
    "HZN_CSS": true,
    "CONFIG_CERT_PATH": "/path/to/cert.crt",
    "ANAX": "https://github.com/open-horizon/anax/releases/latest/download/agent-install.sh"
  },
  "service": {
    "SERVICE_NAME": "my-service",
    "SERVICE_CONTAINER_NAME": "my-service-container",
    "SERVICE_VERSION": "1.0.0",
    "SERVICE_VERSION_RANGE_UPPER": "1.0.0",
    "SERVICE_VERSION_RANGE_LOWER": "1.0.0",
    "SERVICE_CONTAINER_CREDS": "",
    "VOLUME_MOUNT": "/mms-shared",
    "MMS_SHARED_VOLUME": "mms_shared_volume",
    "MMS_OBJECT_TYPE": "model_updates",
    "MMS_OBJECT_ID": "config.json",
    "MMS_OBJECT_FILE": "config/config.json",
    "MMS_CONTAINER_CREDS": "",
    "MMS_CONTAINER_NAME": "mms-service",
    "MMS_SERVICE_NAME": "mms-service",
    "MMS_SERVICE_VERSION": "1.0.1",
    "MMS_SERVICE_FALLBACK_VERSION": "1.0.0",
    "UPDATE_FILE_NAME": "model.zip"
  },
  "folders": [
    "/var/tmp/horizon/horizon1/fss-domain-socket",
    "/var/tmp/horizon/horizon1/ess-auth",
    "/var/tmp/horizon/horizon1/secrets",
    "/var/tmp/horizon/horizon1/nmp"
  ],
  "local": {
    "YOUR_DOCKERHUB_ID": "dockerhub-username",
    "DOCKER_REGISTRY": "hub.docker.com",
    "DOCKER_TOKEN": "dckr_pat_xxxxx"
  },
  "register": {
    "policy": {
      "properties": [
        {
          "name": "openhorizon.allowPrivileged",
          "value": true
        }
      ],
      "deployment": {
        "properties": [
          {"name": "service-type", "value": "ML Model"}
        ]
      }
    }
  }
}
